// border-radius
$border-radius-2:2px;
$border-radius-4:4px;
$border-radius-6:6px;
$border-radius-8:8px;

//sizes
$size-1:1px;
$size-2:2px;
$size-3:3px;
$size-4:4px;
$size-5:5px;
$size-6:6px;
$size-8:8px;
$size-10:10px;
$size-50:50px;
$size-400: 400px;
$size-500: 500px;

// margins
$margin-3:3px;
$margin-5: 5px;
$margin-10: 10px;

// padding
$padding-2: 2px;
$padding-5: 5px;
$padding-10: 10px;

//Colors
$TB-grey:rgb(215, 209, 209);
$TB-red:rgb(214, 220, 221);
$TB-green:green;
$TB-blue:blue;
$TB-nav-bg:rgb(236, 147, 179);
$TB-white:white;
$TB-black:black;
$TB-selected:rgb(60, 229, 38);
$TB-reserved:rgb(46, 230, 224);

//background and border
$body-bg-radial: radial-gradient(circle, $TB-grey, $TB-white);
$container-bg-radial: radial-gradient(circle, $TB-grey, $TB-black);
$danger-border: $size-2 solid $TB-red !important;


h1{
    width: 100%;
    text-align: center;
}
h2{
    width: 100%;
    text-align: center;
}